<div class="edit-general" style="display: block;">
	{$status}
	{$message}
	<div class="top-right modal-btn list-button">
		<a rel="loadpage"  href="{$all_distributors_url}">View All Artists</a>
	</div>
	<div class="divider"></div>
	<form method="post">
		{$token_input}
		<div class="page-inner">
			
			<div class="page-input-container">
				<div class="page-input-title">First Name</div>
				<div class="page-input-content">
					<input type="text" name="first_name" />
					<div class="page-input-sub">Enter your first name</div>
				</div>
			</div>

			<div class="page-input-container">
				<div class="page-input-title">Last Name</div>
				<div class="page-input-content">
					<input type="text" name="last_name" />
					<div class="page-input-sub">Enter your last name</div>
				</div>
			</div>
			
			<div class="page-input-container">
				<div class="page-input-title">{$lng->ttl_email}</div>
				<div class="page-input-content">
					<input type="text" name="email" value="{$currentEmail}" />
					<div class="page-input-sub">{$lng->sub_email}</div>
				</div>
			</div>

			<div class="page-input-container">
				<div class="page-input-title">UserName</div>
				<div class="page-input-content">
					<input type="text" name="username" />
					<div class="page-input-sub">Your User Name</div>
				</div>
			</div>

			<div class="page-input-container">
				<div class="page-input-title">Passowrd</div>
				<div class="page-input-content">
					<input type="password" name="password" />
					<div class="page-input-sub">Your Password</div>
				</div>
			</div>

			<div class="page-input-container">
				<div class="page-input-title">{$lng->ttl_phone}</div>
				<div class="page-input-content">
					<input type="text" name="phone" value="{$currentPhone}" />
					<div class="page-input-sub">{$lng->sub_phone}</div>
				</div>
			</div>

		</div>
		<div class="divider"></div>
		
		<div class="page-inner">
			<div class="page-input-title"></div><input type="submit" name="add_artist" value="{$lng->add_record}">
		</div>
	</form>
</div>