<div class="row-body{$content_class}">
	<div class="body-content">
		<div class="nine columns" id="messages">
			<div class="page-container">
			<div class="page-content">
			<div class="page-header">{$header}</div>
				<div class="page-inner">
					<div class="row">
						<strong>Můžete nás kontaktovat na adrese:</strong><br />
						Facemesh.cz<br />
						Vyškov, 29<br />
						910 Město<br />
						Email: facemesh@facemesh.cz <br />
						Web: <a href="https://www.facemesh.cz">facemesh.cz</a><br />
						Snap: jacklenone2
						<br />
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="three columns">
			{$sidebar}
		</div>
	</div>
</div>