{$message}
<div class="top-right modal-btn list-button">
	<a rel="loadpage" href="{$new_distributors_url}">Add New</a>
</div>
<div class="divider"></div>
<div class="list-content">
	{$distributors}
	<div id="users"></div>
</div>