<div class="sidebar-container widget-suggestions">
<div class="sidebar-header">recommended</div>
<div class="sidebar-suggestions-inner">
	<div class="sidebar-suggestions">
		<a href="#" title="View Profile" rel="loadpage"><div class="sidebar-title-name">Artists</a>
	</div>
</div>
</div>
<div class="sidebar-suggestions-inner">
	<div class="sidebar-suggestions">
		<a href="#" title="View Profile" rel="loadpage"><div class="sidebar-title-name">Tracks</a>
	</div>
</div>
</div>
<div class="sidebar-suggestions-inner">
	<div class="sidebar-suggestions">
		<a href="#" title="View Profile" rel="loadpage"><div class="sidebar-title-name">Playlists</a>
	</div>
</div>
</div>
</div>